<div class="container-fluid header-wrapper">
    <div class="row">
        <div class="col-12">
            <nav class="d-flex">
                <div class="m-4">
                    <a routerLink="">Home</a>
                </div>
                <div class="m-4">
                    <a routerLink="/web-worker">Web Worker</a>
                </div>
                <div class="m-4">
                  <a routerLink="/service-worker">Service Worker</a>
                </div>
            </nav>
        </div>
    </div>
</div>
